.App {
  text-align: center;
}
body {
  background-color: #756AB6;
  color: #FFE5E5;
}
.taskbg {
  background-color: #AC87C5;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
  display: flex;
}
.TaskNumber {
  color: #FFE5E5;
  border: 1px solid #FFE5E5;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}
.taskbg div {
  display: flex;
  align-items: center;
}
.taskbg .Tasktext {
  flex: 1;
}
.taskbg .done .Tasktext{
  text-decoration: line-through;
  opacity: 0.3;
  
}
.btn {
  background-color: #AC87C5;
  border: #756AB6;
}
.btn:hover {
  background-color: #756AB6;
  border: #AC87C5 1px solid;
}
.taskbg .iconsWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}
.taskbg .iconsWrap span {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: #756AB6;
}
.taskbg .iconsWrap span:hover {
  color: #E5E1DA;
}

.mr-20 {
  margin-right: 20px;
}
.gradient-text {
  background-image: linear-gradient(to right, #ff0000, #00ff00);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}